<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <h1 class="presentation-title">Rafael teste</h1>
              <div class="fog-low">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="main">
      <div class="section section-gray section-nucleo-icons">
          <div class="container">
            <ul>
              <li *ngFor="let texto of getTexto()">{{texto}}</li>
            </ul>
          </div>
      </div>
  </div>


</div>
